<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNDERFOOT</title>
  </head>
  <body>
    <div id="mainDiv-1">
      <div id="main__titleContainer">
        <p id="main__title">UNDERFOOT</p>
        <div class="main__imgContainer">
          <img src="public/img/children.png" alt="" id="children" />
          <img src="public/img/rykyti__earth.png" alt="" id="earth" />
        </div>
      </div>
    </div>
    <div id="main__ghostDiv"></div>
    <div id="mainDiv-2">
      <header id="main-header">
        <a href="#" id="header-title" class="header-content">UNDERFOOT</a>
        <div id="header-right-wrapper">
          <a href="#about-wrapper" id="header-about" class="header-content"
            >ABOUT</a
          >
          <a href="#works-wrapper" id="header-works" class="header-content"
            >WORKS</a
          >
          <a onclick="goToMerch()" class="header-content">MERCH</a>
        </div>
      </header>
      <div id="main-video-wrapper">
        <video id="main-video" autoplay muted loop>
          <source src="/public/vid/headerVideo.mp4" type="video/mp4" />
        </video>
      </div>
      <div id="about-wrapper">
        <div id="left-wrapper">
          <div id="left-down-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 328 575"><defs><style>.cls-1,.cls-3{fill:none;}.cls-2{fill:#fff;}.cls-2,.cls-3{stroke:#E5E5E5;stroke-miterlimit:10;stroke-width:21px;}</style></defs><g id="Layer_1" data-name="Layer 1"><rect class="cls-1" width="328" height="575"/></g><g id="arrow"><line class="cls-2" x1="164" x2="164" y2="557.78"/><polyline class="cls-3" points="255.31 454.68 164.05 558 72.76 454.66"/></g></svg>
          </div>
          <div class="left-subtitle-wrapper">
            <p class="left-subtitle-plain">MEMBERS</p>
          </div>
        </div>
        <div id="right-wrapper">
          <div id="right-contents-wrapper">
            <p id="right-subtitle">Cultures under our foot</p>
            <div id="right-description-wrapper">
              <p class="right-description">
                Underfoot은 2021년부터 본격적인 활동을 시작하여, 음악 및 영상작업을
                통해 다양한 언더그라운드 문화를 소개하는 콜렉티브이다.<br />Cary
                Nam, Wolf Kooky 그리고 Monti Kayoti로 구성되어있으며, 서울을
                중심으로 활동중이다.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="members-wrapper">
        <div class="member-content-wrapper">
          <div class="member-img-wrapper">
            <img
            src="public/img/MINDCRAFT.jpeg"
            alt=""
            class="member-profile-img"
          />
          </div>
          <div class="member-description-wrapper">
            <p class="member-description-name">Cary Nam</p>
            <p class="member-description-info">
              Cary Nam은 현재 2D 애니메이터 및 그래픽 크리에이터로 활동하고
              있다. <br />그는 언제나 유니크한 스타일의 캐릭터를 만들어내며,
              확실한 색감과 애니메이팅을 무기로 작업을 하고 있다. <br />2021년
              REM을 기점으로 RYKYTI에 합류하여 이후로 팀의 시각적 디렉팅과
              작업을 도맡고 있다.
            </p>
            <div class="member-link-wrapper">
              <a href="https://www.instagram.com/carrrrrrrry_nam/" class="member-link" target="_blank">instagram</a>
            </div>
          </div>
        </div>
        <div class="member-content-wrapper">
          <div class="member-img-wrapper">
            <img
            src="public/img/MINDCRAFT.jpeg"
            alt=""
            class="member-profile-img"
          />
          </div>
          
          <div class="member-description-wrapper">
            <p class="member-description-name">Wolf Kooky</p>
            <p class="member-description-info">
              Wolf Kooky는 음악, 패션을 포함한 다양한 분야에서 활동중이다. <br>현재 한국의 언더그라운드 문화를 선도하는 팀 BASECREAM을 이끌어가며 다양한 컨텐츠를 만들어가고 있다. 
            </p>
            <div class="member-link-wrapper">
              <a href="https://www.instagram.com/wolfkooky/" class="member-link" target="_blank">instagram</a>
              <a href="https://basecream.kr/" class="member-link" target="_blank">Website</a>
            </div>
          </div>
        </div>
        <div class="member-content-wrapper">
          <div class="member-img-wrapper">
            <img
            src="public/img/MINDCRAFT.jpeg"
            alt=""
            class="member-profile-img"
          />
          </div>
          <div class="member-description-wrapper">
            <p class="member-description-name">Monti Kayoti</p>
            <p class="member-description-info">
              Monti Kayoti는 현재 전자음악을 기반으로 다양한 장르의 음악을
              만들고 웹사이트를 개발하며 활동하고 있다. <br />2019년 프로듀서로서 데뷔하여 꾸준히 솔로 및 주변 동료들과의
              작업물들을 공개하는 중이다.
              <br />
            </p>
            <div class="member-link-wrapper">
              <a href="https://www.instagram.com/mt.kyt/" class="member-link" target="_blank">instagram</a>
              <a href="https://www.shinnjiwoong.com/" class="member-link" target="_blank"
                >Website</a
              >
            </div>
          </div>
        </div>
      </div>
      <div id="works-wrapper">
        <div id="works-title-wrapper">
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
          <p class="works-title-top">SEE</p>
        </div>
        <div id="works-title-wrapper">
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">NO BOUNDARY</p>
              <p class="works-project-title">EP, 2023</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/NBTAPES_CV3.png"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  NO BOUNDARY는 '날 것'이라는 키워드를 가지고 작업한 프로젝트이다.
                  <br />세 멤버는 하루의 송캠프를 통해 녹음 및 데모작업과 비주얼
                  컨셉을 만들고, 이를 기반으로 프로젝트를 완성시켰다. <br />곡의
                  피쳐링으로 Lil Poet, Basshammer, 그리고 Kaeoh가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky, Lil Poet (on NOBOUNDARY), Basshammer (on 눈떠) & Kaeoh (on ENUFF) </li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>

            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">REM</p>
              <p class="works-project-title">EP, 2021</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/Wolf Kooky - REM (2021).jpeg"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  [REM]은 90년대 붐뱁음악에 대한 기억을 가지고 제작한 RYKYTI의
                첫번째 프로젝트이다. <br />붐뱁을 추억하며
                제작한 5곡의 음악과 함께 애니메이션을 제작하였다. <br />피쳐링에
                국내 RnB 아티스트 니아 (Nieah)가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky & Nieah (on ALRIGHT)</li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>

            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">HYUNDAI CASPER x Kasina</p>
              <p class="works-project-title">Campaign, 2022</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/NBTAPES_CV3.png"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  NO BOUNDARY는 '날 것'이라는 키워드를 가지고 작업한 프로젝트이다.
                  <br />세 멤버는 하루의 송캠프를 통해 녹음 및 데모작업과 비주얼
                  컨셉을 만들고, 이를 기반으로 프로젝트를 완성시켰다. <br />곡의
                  피쳐링으로 Lil Poet, Basshammer, 그리고 Kaeoh가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky, Lil Poet (on NOBOUNDARY), Basshammer (on 눈떠) & Kaeoh (on ENUFF) </li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>

            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">Kasina Kaffe</p>
              <p class="works-project-title">Campaign, 2022</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/NBTAPES_CV3.png"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  NO BOUNDARY는 '날 것'이라는 키워드를 가지고 작업한 프로젝트이다.
                  <br />세 멤버는 하루의 송캠프를 통해 녹음 및 데모작업과 비주얼
                  컨셉을 만들고, 이를 기반으로 프로젝트를 완성시켰다. <br />곡의
                  피쳐링으로 Lil Poet, Basshammer, 그리고 Kaeoh가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky, Lil Poet (on NOBOUNDARY), Basshammer (on 눈떠) & Kaeoh (on ENUFF) </li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>

            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">Kasina Seongsu</p>
              <p class="works-project-title">Campaign, 2022</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/NBTAPES_CV3.png"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  NO BOUNDARY는 '날 것'이라는 키워드를 가지고 작업한 프로젝트이다.
                  <br />세 멤버는 하루의 송캠프를 통해 녹음 및 데모작업과 비주얼
                  컨셉을 만들고, 이를 기반으로 프로젝트를 완성시켰다. <br />곡의
                  피쳐링으로 Lil Poet, Basshammer, 그리고 Kaeoh가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky, Lil Poet (on NOBOUNDARY), Basshammer (on 눈떠) & Kaeoh (on ENUFF) </li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>

            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p class="footer-text">RYKYTI 2023</p>
    </div>
    <script>
        // DOM SELECTORS
      const mainDiv__1 = document.getElementById('mainDiv-1');
      const mainDiv__2 = document.getElementById('mainDiv-2');
      const children = document.getElementById('children');
      const mainHeader = document.getElementById('main-header');
      const headerContents = document.querySelectorAll('.header-content');
      const headerAbout = document.getElementById('header-about');
      const headerWorks = document.getElementById('header-works')
      const leftSubtitlePlain = document.querySelectorAll('.left-subtitle-highlighted');
      const mainVideoWrapper = document.getElementById('main-video-wrapper')
      const aboutWrapper = document.getElementById('about-wrapper');
      const aboutLeftWrapper = document.getElementById('left-wrapper');
      const aboutDownArrow = document.getElementById('left-down-arrow');
      const worksWrapper = document.getElementById('works-wrapper');
      const worksTitleWrapper = document.getElementById('works-wrapper');
      const worksTitleTop = document.querySelectorAll('.works-title-top');
      const worksTitleBottom = document.querySelectorAll('.works-title-bottom');
      const worksProjectHeader = document.querySelectorAll('.works-project-header-wrapper');

      function goToMerch(){
        location.href = "/merch"
      }
      window.addEventListener('scroll', ()=>{
          const divTwoRect = mainDiv__2.getBoundingClientRect();
          const mainVideoRect = mainVideoWrapper.getBoundingClientRect();
          const aboutWrapperRect = aboutWrapper.getBoundingClientRect();
          const worksWrapperRect = worksWrapper.getBoundingClientRect();
          const worksTitleWrapperRect = worksTitleWrapper.getBoundingClientRect();

          if(window.scrollY < 385){
              children.style.transform = `translateY(${-window.scrollY}px)`
          }
          if(divTwoRect.top <= 0){
              mainHeader.style.position = 'fixed'
              mainHeader.style.opacity = '100%'
              mainHeader.style.display = 'flex'
          }else{
              mainHeader.style.opacity = '0%'
              mainHeader.style.position = 'static'
              mainHeader.style.display = 'none'
          }

          mainVideoWrapper.style.filter = `hue-rotate(${Math.abs(mainVideoRect.top/mainVideoRect.height*360)}deg)`

          // blur(${Math.abs(mainVideoRect.top/mainVideoRect.height*10)}px) 
          if(aboutWrapperRect.top <= 0 && worksWrapperRect.top > 0){
              mainHeader.style.zIndex = '2'
              // mainHeader.style.backgroundColor = '#ECECEC';
              headerAbout.style.textDecoration = 'underline 2px #E3F020';
              headerWorks.style.textDecoration = 'none';
              headerContents.forEach((e)=>{
                  e.style.color = '#E3F020';
              })
          }else if(aboutWrapperRect.top < 0 && worksWrapperRect.top <= 0){
              mainHeader.style.zIndex = '2'
              headerAbout.style.textDecoration = 'none';
              headerWorks.style.textDecoration = 'underline 2px #0065FF';
              // mainHeader.style.backgroundColor = '#ECECEC';
              console.log(headerContents.length)
              headerContents.forEach((e)=>{
                  e.style.color = '#0065FF';
              })
          }else{
              mainHeader.style.zIndex = '-1'
              headerWorks.style.textDecoration = 'none';
              headerAbout.style.textDecoration = 'none';
          }
          
          if(aboutWrapperRect.top <= window.innerHeight && aboutWrapperRect.top > 0){
              aboutLeftWrapper.style.transform = `translateX(${aboutWrapperRect.top/window.innerHeight*100}%)`
              aboutDownArrow.style.transform = `translate(-50%, 0%)`
          }
          if(aboutWrapperRect.top < 0){
              aboutDownArrow.style.transform = `translate(-50%, 100%)`
          }
          if(worksTitleWrapperRect.top <= window.innerHeight){
              worksTitleTop.forEach((e)=>{
                  e.style.transform = `translateX(-${worksTitleWrapperRect.top/window.innerHeight*100}%)`
              })
              worksTitleBottom.forEach((e)=>{
                  e.style.transform = `translateX(${worksTitleWrapperRect.top/window.innerHeight*2*100}%)`
              })
          }
      })

      let lastClicked = 0;

      worksProjectHeader.forEach((e, i)=>{
        e.addEventListener('click', ()=>{
          worksProjectHeader[lastClicked].parentNode.parentNode.classList.remove('project-selected');
          worksProjectHeader[i].parentNode.parentNode.classList.add('project-selected');
          lastClicked = i;
        })
      })
      setInterval(()=>{
          leftSubtitlePlain.forEach((e)=>{
              e.classList.toggle('hide');
          })
      }, 1000)
    </script>
  </body>
</html>
