<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNDERFOOT</title>
  </head>
  <body>
    <div id="mainDiv-1">
      <div id="main__titleContainer">
        <p id="main__title">UNDERFOOT</p>
        <div class="main__imgContainer">
          <img src="public/img/foot.png" alt="" id="foot" />
          <img src="public/img/rykyti__earth.png" alt="" id="earth" />
        </div>
      </div>
    </div>
    <div id="main__ghostDiv"></div>
    <div id="mainDiv-2">
      <header id="main-header">
        <a href="#" id="header-title" class="header-content">UNDERFOOT</a>
        <div id="header-right-wrapper">
          <a href="#about-wrapper" id="header-about" class="header-content"
            >ABOUT</a
          >
          <a href="#works-wrapper" id="header-works" class="header-content"
            >WORKS</a
          >
          <a onclick="goToMerch()" class="header-content">MERCH</a>
        </div>
      </header>
      <div id="main-video-wrapper">
        <video id="main-video"  autoplay muted loop>
          <source src="/public/vid/headerVideo.mp4" type="video/mp4" />
        </video>
      </div>
      <div id="about-wrapper">
        <div id="about-description-wrapper">
          <p id="about-description">UNDERFOOT is a collective based in Seoul, supporting various genres of Underground cultures and movements.
          </p>
        </div>
      </div>
      <div id="members-wrapper">
        <div class="floating-title-wrapper">
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
          <p class="members-title-bottom">MEMBERS</p>
        </div>
        <div id="members-outer-wrapper">
          <a href="https://www.instagram.com/carrrrrrrry_nam/" class="member-content-wrapper" target="_blank">
            <div class="member-img-wrapper">
              <img
              src="public/img/cary_profile.png"
              alt=""
              class="member-profile-img"
            />
            </div>
            <div class="member-description-wrapper">
              <p class="member-description-name">Cary Nam</p>
            </div>
          </a>
          <a href="https://www.instagram.com/wolfkooky/" class="member-content-wrapper" target="_blank">
            <div class="member-img-wrapper">
              <img
              src="public/img/kooky_profile.png"
              alt=""
              class="member-profile-img"
            />
            </div>
            <div class="member-description-wrapper">
              <p class="member-description-name">Wolf Kooky</p>
            </div>
          </a>
          <a href='https://www.instagram.com/mt.kyt/' class="member-content-wrapper" target="_blank">
            <div class="member-img-wrapper">
              <img
              src="public/img/monti_profile.png"
              alt=""
              class="member-profile-img"
            />
            </div>
            <div class="member-description-wrapper">
              <p class="member-description-name">Monti Kayoti</p>
            </div>
          </a>
        </div>
        
      </div>
      <div id="works-wrapper">
        <div id="works-title-wrapper">
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
          <p class="works-title-bottom">WORKS</p>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">NO BOUNDARY</p>
              <p class="works-project-title">| EP, 2023</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/noboundary_cover.png"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  NO BOUNDARY는 '날 것'이라는 키워드를 가지고 작업한 프로젝트이다.
                  <br />세 멤버는 하루의 송캠프를 통해 녹음 및 데모작업과 비주얼
                  컨셉을 만들고, 이를 기반으로 프로젝트를 완성시켰다. <br />곡의
                  피쳐링으로 Lil Poet, Basshammer, 그리고 Kaeoh가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky, Lil Poet (on NOBOUNDARY), Basshammer (on 눈떠) & Kaeoh (on ENUFF) </li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="" class="works-project-link"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">HYUNDAI CASPER x Kasina</p>
              <p class="works-project-title">| Campaign, 2022</p>
            </div>
            <div class="works-project-sourceWrapper">
              <video class = 'works-project-vid' autoplay muted>
                <source src="/public/vid/VID__CASPER.mp4" type="video/mp4">
                This browser does not support the video, sorry.
              </video>
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
              </div>

            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">Kasina Seongsu</p>
              <p class="works-project-title">| Campaign, 2022</p>
            </div>
            <div class="works-project-sourceWrapper">
              <video class = 'works-project-vid' autoplay muted>
                <source src="/public/vid/VID__KASINASS.mp4" type="video/mp4">
                This browser does not support the video, sorry.
              </video>
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
              </div>
            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">Kasina Kaffe</p>
              <p class="works-project-title">| Campaign, 2022</p>
            </div>
            <div class="works-project-sourceWrapper">
              <video class = 'works-project-vid' autoplay muted>
                <source src="/public/vid/VID__KAFFE.mp4" type="video/mp4">
                This browser does not support the video, sorry.
              </video>
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
              </div>

            </div>
            
            
          </div>
        </div>
        <div class="works-project-wrapper">
          <div class="works-project-infoWrapper">
            <div class="works-project-header-wrapper">
              <p class="works-project-title">REM</p>
              <p class="works-project-title">| EP, 2021</p>
            </div>
            <div class="works-project-sourceWrapper">
              <img
                src="public/img/Wolf Kooky - REM (2021).jpeg"
                alt=""
                class="works-project-img"
              />
              <div class="works-project-description-wrapper">
                <p class="works-project-description">
                  [REM]은 90년대 붐뱁음악에 대한 추억을 가지고 제작한 RYKYTI의
                첫번째 프로젝트이다. <br />붐뱁을 추억하며
                제작한 5곡의 음악과 함께 애니메이션을 제작하였다. <br />피쳐링에
                국내 RnB 아티스트 니아 (Nieah)가 함께 해주었다. <br>
                  <ul class="works-project-credit-list">
                    <li class="works-project-credit">Visual Production : Cary Nam</li>
                    <li class="works-project-credit">Vocal Performance : Wolf Kooky & Nieah (on ALRIGHT)</li>
                    <li class="works-project-credit">Music Production : Monti Kayoti</li>
                  </ul>
                </p>
                <div class="works-project-links-wrapper">
                  <a href="https://youtu.be/1AlYFWpMFHs" class="works-project-link" target="_blank"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                  <a href="https://open.spotify.com/album/3o3wiixU7kea7WqqV0slMD?si=dLQTXUL4Tem97CENFfYhuw" class="works-project-link" target="_blank"
                    ><i class="fa-brands fa-spotify"></i
                  ></a>
                </div>
              </div>

            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p class="footer-text">UNDERFOOT 2023</p>
    </div>
    <script>
        // DOM SELECTORS
      const mainDiv__1 = document.getElementById('mainDiv-1');
      const mainDiv__2 = document.getElementById('mainDiv-2');
      const foot = document.getElementById('foot');
      const mainHeader = document.getElementById('main-header');
      const headerContents = document.querySelectorAll('.header-content');
      const headerAbout = document.getElementById('header-about');
      const headerWorks = document.getElementById('header-works')
      const leftSubtitlePlain = document.querySelectorAll('.left-subtitle-highlighted');
      const mainVideoWrapper = document.getElementById('main-video-wrapper')
      const mainVideo = document.getElementById('main-video');
      const aboutWrapper = document.getElementById('about-wrapper');
      const worksWrapper = document.getElementById('works-wrapper');
      const worksTitleWrapper = document.getElementById('works-wrapper');
      const worksTitleTop = document.querySelectorAll('.works-title-top');
      const worksTitleBottom = document.querySelectorAll('.works-title-bottom');
      const worksProjectHeader = document.querySelectorAll('.works-project-header-wrapper');

      function goToMerch(){
        location.href = "/merch"
      }
      window.addEventListener('scroll', ()=>{
          const divTwoRect = mainDiv__2.getBoundingClientRect();
          const mainVideoRect = mainVideoWrapper.getBoundingClientRect();
          const aboutWrapperRect = aboutWrapper.getBoundingClientRect();
          const worksWrapperRect = worksWrapper.getBoundingClientRect();
          const worksTitleWrapperRect = worksTitleWrapper.getBoundingClientRect();
          if(window.scrollY > 50){
            foot.style.opacity = '100%';
          }else{
            foot.style.opacity = '0%';
          }
          if(window.scrollY < 385){
              foot.style.transform = `translateY(${window.scrollY/window.innerHeight*230}%)`
          }
          if(divTwoRect.top <= 0){
              mainHeader.style.position = 'fixed'
              mainHeader.style.opacity = '100%'
              mainHeader.style.display = 'flex'
          }else{
              mainHeader.style.opacity = '0%'
              mainHeader.style.position = 'static'
              mainHeader.style.display = 'none'
          }
          mainVideoWrapper.style.filter = `hue-rotate(${Math.abs(mainVideoRect.top/mainVideoRect.height*360)}deg)`

          // blur(${Math.abs(mainVideoRect.top/mainVideoRect.height*10)}px) 
          if(aboutWrapperRect.top <= 0 && worksWrapperRect.top > 0){
              mainHeader.style.zIndex = '2'
              // mainHeader.style.backgroundColor = '#ECECEC';
              headerAbout.style.textDecoration = 'underline 2px #dbd8d8';
              headerWorks.style.textDecoration = 'none';

          }else if(aboutWrapperRect.top < 0 && worksWrapperRect.top <= 0){
              mainHeader.style.zIndex = '2'
              headerAbout.style.textDecoration = 'none';
              headerWorks.style.textDecoration = 'underline 2px #dbd8d8';
          }else{
              mainHeader.style.zIndex = '-1'
              headerWorks.style.textDecoration = 'none';
              headerAbout.style.textDecoration = 'none';
          }
      })

      let lastClicked = 0;

      worksProjectHeader.forEach((e, i)=>{
        e.addEventListener('click', ()=>{
          worksProjectHeader[lastClicked].parentNode.parentNode.classList.remove('project-selected');
          worksProjectHeader[i].parentNode.parentNode.classList.add('project-selected');
          lastClicked = i;
        })
      })
      setInterval(()=>{
          leftSubtitlePlain.forEach((e)=>{
              e.classList.toggle('hide');
          })
      }, 1000)
    </script>
  </body>
</html>
